{% extends 'base.html.twig' %}

{% block title_page %}
    Profile
{% endblock %}
{% block body %}
    <!-- main-content -->
    <div class="main-content app-content">

        <!-- container -->
        <div class="main-container container-fluid">

            <!-- breadcrumb -->
            <div class="breadcrumb-header justify-content-between">
                <div class="left-content">
                    <span class="main-content-title mg-b-0 mg-b-lg-1">PROFILE</span>
                </div>
                <div class="justify-content-center mt-2">
                    <ol class="breadcrumb breadcrumb-style3">
                        <li class="breadcrumb-item tx-15"><a href="javascript:void(0);">Pages</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </div>
            </div>
            <!-- /breadcrumb -->

            <style>
                .profile-cover-custom {
                    background-image: url("https://wallpaperaccess.com/full/2319707.jpg");
                    background-position: top;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card overflow-hidden">
                        <div class="card-body p-0">
                            <div class="profile-cover-custom ht-350"></div>
                            <div class="px-4 pt-4 pos-relative">
                                <div class="rounded-circle profile-img">
                                    <img src="https://i.imgur.com/YsrK6UZ.jpg" alt="img" class="avatar-xxl rounded-circle">
                                </div>
                                <div class="mt-4 d-sm-flex">
                                    <div class="mt-0 mb-sm-0 mb-3">
                                        <h3 class="mb-1">{{ app.user.firstname }} {{ app.user.lastname }}</h3>
                                        <span class="tx-muted">About Me: <span class="tx-primary">{{ app.user.about }}</span></span>
                                    </div>
                                </div>
                            </div>

                            <div class="panel tabs-style7 scaleX mt-2">
                                <div class="panel-head">
                                    <ul class="nav nav-tabs d-block d-sm-flex">
                                        <li class="nav-item"><a class="nav-link tx-14 font-weight-semibold text-sm-center text-start active" data-bs-toggle="tab" href="#profileTab2">Change Password</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12">
                    <div class="panel-body p-0 border-0">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profileTab2">
                                <div class="card">
                                    <div class="card-body border-0">
                                        <h4 class="tx-15 text-uppercase font-weight-semibold mb-3">Change Password</h4>
                                        <form method="post">
                                        <div class="form-group ">
                                            <div class="row row-sm">
                                                <div class="col-md-3">
                                                    <label class="form-label">Password</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div class="row row-sm">
                                                <div class="col-md-3">
                                                    <label class="form-label">Confirm New Password</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="password" class="form-control" id="newPassword2" name="newPassword2">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="border-top"></div>
                                            {% for message in app.flashes('error') %}
                                                <div class="alert alert-outline-danger mg-b-0 alert-dismissible fade show" role="alert">
                                                    <strong>Oh snap!</strong> {{ message }}
                                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"><span aria-hidden="true">×</span></button>
                                                </div>
                                            {% endfor %}
                                        <br>
                                        <button class="btn btn-sm btn-outline-primary">Change Password</button>
                                            <a href="/users" class="btn btn-sm btn-outline-danger">Close</a>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Container closed -->
    </div>
    <!-- main-content closed -->

{% endblock %}
